<!-- 右侧收藏内容部分 -->
<div class="col-md-10">					
	<p class="write-title">我的收藏夹</p>
	<ul class="write-content marks-con">
<!-- 		<li>
			<div class="row">
				<div class="col-md-10">
					<a href="javascript:void(0);">js框架相关</a>
				</div>
				<div class="col-md-2 text-right">
					<button class="btn btn-default btn-xs">取消收藏</button>
				</div>
			</div>
		</li> -->
	</ul>
  <!-- 收藏夹的数据分页 -->
  <div class="text-center page">
  	<ul class="pagination page-number">
  		<!-- <li class="disabled">
  			<a href="javascript:void(0);"><span>&laquo;</span></a>
  		</li>
  		<li class="active"><a href="javascript:void(0);">1</a></li>
  		<li><a href="javascript:void(0);">2</a></li>
  		<li><a href="javascript:void(0);">3</a></li>
  		<li>
  			<a href="javascript:void(0);"><span>&raquo;</span></a>
  		</li> -->
  	</ul>
  </div>
</div>