<!-- 右侧关注功能部分 -->
<div class="col-md-10">
  <ul class="nav nav-tabs navbar-default">
    <li class="active"><a href="#person" data-toggle="tab">关注的人</a></li>
    <li><a href="#fans" data-toggle="tab">粉丝</a></li>
  </ul>
  <div class="tab-content">
    <!-- 关注的人 -->
    <div class="tab-pane active" id="person">
      <ul class="inline-list atten-fans">
        <!--       	<li>
					<div class="row">
						<div class="col-md-10">
							<img class="pull-left img-circle" src="img/Jay-01.png" alt="pic">
							<div>
								<a href="javascript:void(0);">Leslie</a>
								<p>春夏秋冬</p>
							</div>
						</div>
						<div class="col-md-2 text-right">
							<button class="btn btn-default btn-xs">取消关注</button>
						</div>
					</div>
      	</li>
       -->
      </ul>
      <!-- 关注的人的数据分页 -->
      <div class="text-center">
        <ul class="pagination">
          <li class="disabled">
            <a href="javascript:void(0);"><span>&laquo;</span></a>
          </li>
          <li class="active"><a href="javascript:void(0);">1</a></li>
          <li><a href="javascript:void(0);">2</a></li>
          <li><a href="javascript:void(0);">3</a></li>
          <li>
            <a href="javascript:void(0);"><span>&raquo;</span></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 粉丝人数 -->
    <div class="tab-pane" id="fans">
      <ul class="inline-list atten-fans">
        <!-- <li>
          <div class="row">
            <div class="col-md-10"><img class="pull-left img-circle" src="img/Leslie_.png" alt="pic">
              <div><a href="javascript:void(0);">Leslie</a>
                <p>春夏秋冬</p>
              </div>
            </div>
            <div class="col-md-2 text-right js-person-delect">
              <button class="btn btn-default btn-xs">加关注</button>
            </div>
          </div>
        </li> -->
      </ul>
      <!-- 粉丝数据的分页 -->
      <div class="text-center">
        <ul class="pagination">
          <li class="disabled">
            <a href="javascript:void(0);"><span>&laquo;</span></a>
          </li>
          <li class="active"><a href="javascript:void(0);">1</a></li>
          <li><a href="javascript:void(0);">2</a></li>
          <li><a href="javascript:void(0);">3</a></li>
          <li>
            <a href="javascript:void(0);"><span>&raquo;</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
