<!-- 右侧头条内容部分 -->
<div class="col-md-10">					
	<p class="write-title">我的头条</p>
	<ul class="write-content hottopic-con">
		<!-- <li>
			<div class="row">
				<div class="col-md-9">
					<a href="javascript:void(0);">这是头条标题</a>
				</div>
				<div class="col-md-2 text-right">
					<span>2016年12月31日</span>
				</div>
				<div class="col-md-1 text-right js-hottopic-delect">
					<button class="btn btn-default btn-xs">删除</button>
				</div>
			</div>
		</li> -->
	</ul>
  <!-- 我的头条的数据分页 -->
  <div class="text-center">
  	<ul class="pagination">
  		<li class="disabled">
  			<a href="javascript:void(0);"><span>&laquo;</span></a>
  		</li>
  		<li class="active"><a href="javascript:void(0);">1</a></li>
  		<li><a href="javascript:void(0);">2</a></li>
  		<li><a href="javascript:void(0);">3</a></li>
  		<li>
  			<a href="javascript:void(0);"><span>&raquo;</span></a>
  		</li>
  	</ul>
  </div>
</div>