<!-- 中间部分echart图表 -->
<div class="col-md-7">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p class="panel-title">社区属性</p>
		</div>
		<div class="panel-body echart-wrap">
			<div class="pieEchart" id="pieEchart"></div>
			<div class="barEchart" id="barEchart"></div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<p class="panel-title inline">精彩内容</p>
			<div class="btn-group pull-right">
				<a class="btn btn-xs btn-default" href="#navContent" data-toggle="tab">概览</a>
				<a class="btn btn-xs btn-default" href="#navArticle" data-toggle="tab">文章</a>
				<a class="btn btn-xs btn-default" href="#navNote" data-toggle="tab">笔记</a>
				<a class="btn btn-xs btn-default" href="#navHottopic" data-toggle="tab">头条</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				<div class="tab-pane active" id="navContent">
					<ul class="profile-mine">
						<!-- <li>
							<div class="padd-r0 pull-left">
								<span class="con-type label label-warning">文章</span>
							</div>
							<div class="pl10 con-write-wrap">
								<a class="con-write" href="javascript:void(0);">当文字过多时，出现点点点效果。这是一篇好文章，值得一看，这是一篇好文章，值得一看，这是一篇好文章，值得一看，这是一篇好文章，值得一看，</a>
							</div>
						</li> -->
					</ul>
<!-- 					<p class="text-right con-more">
						<a href="javascript:void(0);">更多</a>
					</p> -->
				</div>
				<div class="tab-pane" id="navArticle">
					<ul class="profile-mine">
			<!-- <li>
							<div class="padd-r0 pull-left">
								<span class="con-type label label-warning">文章</span>
							</div>
							<div class="pl10 con-write-wrap">
								<a class="con-write" href="javascript:void(0);">这是一篇好文章，值得一看，</a>
							</div>
						</li> -->
					</ul>
				</div>
				<div class="tab-pane" id="navNote">
					<ul class="profile-mine">
						<!-- <li>
							<div class="padd-r0 pull-left">
								<span class="con-type label label-warning">笔记</span>
							</div>
							<div class="pl10 con-write-wrap">
								<a class="con-write" href="javascript:void(0);">这个笔记到位</a>
							</div>
						</li> -->
					</ul>
				</div>
				<div class="tab-pane" id="navHottopic">
					<ul class="profile-mine">
						<!-- <li>
							<div class="padd-r0 pull-left">
								<span class="con-type label label-success">头条</span>
							</div>
							<div class="pl10 con-write-wrap">
								<a class="con-write" href="javascript:void(0);">我要上头条</a>
							</div>
						</li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 右侧徽章部分 -->
<div class="col-md-3">
	<div class="profile-skill">
		<h4>获得<span class="skill-counts"> 5 </span>枚徽章</h4>
		<div class="skill-badges">
			<button class="btn btn-primary" type="button">
			  经典问题 <span class="badge">
			  	<span class="glyphicon glyphicon-star"></span>
			  </span>
			</button>
			<button class="btn btn-success" type="button">
			  评论专家 <span class="badge">
					<span class="glyphicon glyphicon-star"></span>
			  </span>
			</button>
			<button class="btn btn-info" type="button">
			  前端菜鸟 <span class="badge">
					<span class="glyphicon glyphicon-star"></span>
			  </span>
			</button>
			<button class="btn btn-warning" type="button">
			  喜欢瞎逛 <span class="badge">
					<span class="glyphicon glyphicon-star"></span>
			  </span>
			</button>
			<button class="btn btn-danger" type="button">
			  注释者 <span class="badge">
			  	<span class="glyphicon glyphicon-star"></span>
			  </span>
			</button>
		</div>
	</div>
</div>